:root{
    --primary:#212121;
    --secondary:#f50;
    --thirth:gold;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.background::before{
    display: block;
    width: 300rem;
    height: 800px;
    position: absolute;
    content: "";
    bottom: 0;
    background-image: linear-gradient(180deg,var(--primary) 33%,var(--secondary) 33% 66%,var(--primary) 66% 33%);
    transform: rotate(45deg);
left: -149rem;
}
.background::after{
    display: block;
    width: 65rem;
    height: 400px;
    position: absolute;
    content: "";
    top:0;
    background-image: linear-gradient(180deg,var(--secondary) 33% 66%,var(--primary) 66% 33%);
    transform: rotate(45deg);
right: -40rem;
}
.circle{
    background-color: red;
    background-image: linear-gradient(45deg,var(--thirth) 54%,#ffffff 54% 100%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    padding: 0.4rem;
    position:absolute;
    bottom: 30rem;
    right: 84rem;

}
.image-circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary);
}
.logo-circle{
    background-color: aqua;
    border-radius: 20%;
    position: absolute;
    width: 13rem;
    height: 13rem;
    right: -4rem;
    top:16rem;
}
.underline-border{
   border-bottom: 2px solid black;
   padding: 0.5rem;
}
::placeholder{
    color: black;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
    
    
}
input{

    outline: none;
}
.submit-form{
    background-color: rgb(255, 0, 157); 
    color: #ffffff; 
    font-size: 1.5rem;
     border: none; 
    border-radius:8px;
     height: 3rem;  
    align-items: center; 
    padding-left: 1rem;
    padding-right: 1rem;

}
.submit-form:hover{

    background-color: none;
    cursor: pointer;
}
#ListElement{
    width: 100vw;
    height: 100vh;
    position: fixed; 
    top: -80rem; 
    
display: flex;
justify-content: center;
align-items: center;
    background-color: rgba(0, 0, 0, 0.322); 
    transition: 3s all ease;
}